// common
label input[type="checkbox"], label input[type="radio"] {
    display: none;
}
 .red{
	color:#FD7F6B;
}

.nav{
	background: #FC4B2E;
	height: 1.375rem;
	font-size: 18px;
	color: #fff;
	line-height: 1.375rem;
	position:fixed;
	left:0;
	top:0;
	width: 100%;
}

.nav a {
	display: block;
	width:1.375rem;
	height: 1.375rem;
	line-height: 1.375rem;
	color:#fff;
	font-size:24px;
	text-align: center;
}

.nav a:nth-child(1){
	float: left;
	margin-left: 0.28rem;

}

.nav a:nth-child(2){
	float: right;
	margin-right: 0.28rem;
}

.nav .title{
	display: block;
	margin:0 1.375rem;
	text-align: center;
	line-height: 1.375rem;
	font-size: 18px;
}

.main{
	margin-top: 1.375rem;
}

.iFlex{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	    flex-direction: row;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  	font-size: 14px;
	border-bottom: 0.03rem solid #F2F2F2;
	color:#2E2E2E;
	padding-left: 0.28rem;
	padding-right: 0.28rem;
}


.type {
	// margin-top: 1.375rem;
	height: 1.375rem;
	line-height: 1.375rem;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis; 
}

 .type span:first-child{
	width:2.25rem;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis; 
}

.distance {
	height: 1.375rem;
	line-height: 1.375rem;

	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis; 
	border-bottom: 0.3125rem solid #F2F2F2;
}

.distance span:first-child{
	width: 2.25rem;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis; 
}

.maintain {
	position: relative;
	height:2rem;
	display: block;
	border-bottom: 0.03rem solid #F2F2F2;
}

.maintain div:first-child{
	height: 1rem;
	line-height: 1rem;
	padding-left:1rem;
	color:#2E2E2E;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis; 
}

.maintain div:first-child i{
	position: absolute;
	background-image: url(../img/slice/car.png);
	background-repeat: no-repeat;
	width: 0.6rem;
    height: 0.6rem;
	left: 0.2rem;
	top: 0.2rem;
}

.maintain div:nth-of-type(2){
	height: 22px;
	color:#CCCCCC;
	font-size: 12px;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis; 
	padding-left: 1rem;
}

.mustChange {
	height:2rem;
	display: block;
	border-bottom: 0.03rem solid #F2F2F2;
}

.mustChange .iFlex {
    padding-left: 0.28rem;
    border-bottom: none;
    line-height: 1.25rem;
    height: 1.25rem;
    white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis; 
}

.mustChange .iFlex span{
	
}

.mustChange .iFlex span:first-child{
	width: 2.25rem;
}

.mustChange label.iChange{
	display: block;
	background-image: url(../img/slice/checked.png);
	position: relative;
	height: 0.75rem;
	padding-left: 3.1875rem;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis; 
	color:#CCCCCC;
	font-size:12px;
	cursor: pointer;
}

.mustChange input[type=checkbox]:checked + div:nth-child(2) label{
	background-image: url(../img/slice/notChecked.png);
}

.items .box label{
	height: 1.31rem;
	display: block;
    position: relative;
    line-height: 1.31rem;
    white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis; 
	cursor:pointer;
}

.items .box label.line1{
	display: table-cell;
	vertical-align: middle;
}

.items .box label span {
    display: inline-block;
    text-indent: 0.8425rem;
    color:#2E2E2E;
    font-size: 12px;
}

label.icheck input:checked + span:before {
    background-image: url(../img/slice/checked.png);
}
label.icheck span:before {
    background-image: url(../img/slice/notChecked.png);
}
label.icheck span:before, label.iradio span:before {
    display: block;
    content: '';
    width: 0.5625rem;
    height: 0.5625rem;
    position: absolute;
    left: 0.28rem;
    top: 50%;
    margin-top: -.28rem;
    background-size: cover;
    -webkit-background-size: cover;
}

// mustchange
.suggest {
	font-size: 14px;
	height: 1.375rem;
	line-height: 1.375rem;
}

.items {
	-webkit-display:flex;
	display: -ms-flexbox;
	display: flex;
	// flex-direction: row;
	// flex-wrap:wrap;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;

}

.items .box{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width:50%;
	height: 2.62rem;
	border-bottom: 0.03rem solid #F2F2F2;
	border-right:0.03rem solid #F2F2F2;
	display: table;
}

.items .box label{
	height: 1.31rem;
	display: block;
    position: relative;
    line-height: 1.31rem;
    white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis; 
	cursor:pointer;
}

.items .box label.line1{
	display: table-cell;
	vertical-align: middle;
}

.items .box label span {
    display: inline-block;
    text-indent: 0.8425rem;
    color:#2E2E2E;
    font-size: 12px;
}

label.icheck input:checked + span:before {
    background-image: url(../img/slice/checked.png);
}
label.icheck span:before {
    background-image: url(../img/slice/notChecked.png);
}
label.icheck span:before, label.iradio span:before {
    display: block;
    content: '';
    width: 0.5625rem;
    height: 0.5625rem;
    position: absolute;
    left: 0.28rem;
    top: 50%;
    margin-top: -.28rem;
    background-size: cover;
    -webkit-background-size: cover;
}

.foot{
	height: 2rem;
	
}

.foot > div {
	height: 1rem;
	line-height: 1rem;
	font-size: 16px;
	margin-left: 50%;
	text-indent: 0.28rem;
}
